@font-face {
	font-family: digital;
	src:url(digital.ttf);
}

#clock {
	font-size: 40vw;
	color: grey;
	font-family: digital;
	width: 100%;
	position: relative;
	text-align: center;
}

#clock p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 15%);
}

html {
	background-color: black;
}